@import "./constants.css";

/* TODO: ver responsive no carousel */

/**
 * ------------ Slideshow / carousel ------------
 *
 */

 #slideshow {
	margin: 1em auto;
}

#slideshow a {
    z-index: 10;
    position: absolute;
    bottom: 10%;
    left: 10%;
    background-color: var(--transp_main_color);
}

#slideshow a:before {
    content: "Places in ";
}

#slideshow a:after {
    content: " →";
}