:root {
    --background_color: #f9f9f9;
    --darker_bg_color: #f5f0f0;
	--main_color: #e47c78;
	/* TODO: rename */
    --footer_color: #a59b9b;
	--transp_main_color: rgba(228, 124, 120, 0.7); /* rgba format so it doesn't make the text transparent, only the background */
	--yellow_color: #f1ee2d;
    --error_msg_color: #be1e1e;

	--light_text_color: #f3f3f6;
	/* TODO: rename */
	--border_color: #868686;
	--border_color_transp: #8686863b;

	--transition_color: #a39ea0;

	--default_text_font: "Trebuchet MS", Helvetica, sans-serif;
    
	/* TODO: passar para javascript para n ser hardcoded */
	--footer_height: 4em;
	--footer_padding: 1em;
	--footer_border: 20px;
	/* TODO: ver como se passa par js */
	--nav_padding: 0.4em;
	--nav_height: 3.5em;

	/* Calender */
	--calendar_selected: #268bd2;
	--calendar_selected_trans1: rgba(38, 139, 210, 0.5);
	--calendar_selected_trans2: rgba(38, 139, 210, 0.102);

	--small-image-height:4em;
    --small-image-width:4em;
    --medium-image-height:8em;
    --medium-image-width:12em;
}