@import "./constants.css";

/**
 * ------------ House Card ------------
 */

.card {
	border-bottom: 1px var(--border_color) solid;
    color: var(--main_color);
}

.card > div {
    padding: 1em 0;
	font-size: 1em;
	width: 100%;
}

.card > div:hover {
    background: var(--darker_bg_color);
    cursor: pointer;
}

.card a{
	font-size: inherit;
}
.card a:hover{
	text-decoration: none;
}

.card .info {
    margin: 0 1em;
    flex-grow: 1;
}

.card .info h4{
	margin: 0.3em 0;
}

.hcard-img {
 	width: 16em;
 	height: 11.5em;
 	object-position: center;
}

.card footer {
	align-items: flex-end;
	flex-grow: 1;
	justify-content: space-between;
}

.card footer .card-rating {
    margin: 1em;
}

.card .column{
	margin: 0 1em;
}

.reserv-dates {
    margin: 0 1em;
    color: black;
    justify-content: space-evenly;
}

.fa-bed:after{
	font-family: var(--default_text_font);
	font-weight: 500;
	content: ' Rooms ';
}

.fa-user:after{
	font-family: var(--default_text_font);
	font-weight: 500;
	content: ' Capacity ';
}

.fa-toilet:after{
	font-family: var(--default_text_font);
	font-weight: 500;
	content: ' Bathroooms ';
}