@import "./constants.css";

/* 1240 */
@media (max-width: 75em) {
	main{
		background: red;
	}
	main#main-page {
		display: grid;
		grid-template-columns: minmax(0, 1fr);
		grid-template-rows: auto auto 1fr;
		grid-template-areas: "topdests"
							 "trending"
							 "randlocationplaces"; 
	}

	.responsive{
		display: flex !important;
	}
}

/* Navbar */
@media (max-width: 60em) {
	main{
		background: yellowgreen;
	}

	nav ul {
		display: none !important;
	}
	
	.responsive{
		flex-direction: column;
		position: absolute;
		width: 100%;
		margin: 0 !important;
		min-width: 0 !important;
		left: 0;
		background: var(--darker_bg_color);
		-webkit-box-shadow: 0px 10px 16px -6px rgba(0,0,0,0.4);
		-moz-box-shadow: 0px 10px 16px -6px rgba(0,0,0,0.4);
		box-shadow: 0px 10px 16px -6px rgba(0,0,0,0.4);
	}

	.responsive #link-image{
		display: none;
	}

	.responsive a {
		color: var(--footer_color);
		padding: 0.5em;
	}

	.responsive > *{
		width: 100%;
	}

	.responsive > *:hover{
		-webkit-box-shadow: 0px 3px 31px -10px rgba(0,0,0,0.4);
		-moz-box-shadow: 0px 3px 31px -10px rgba(0,0,0,0.4);
		box-shadow: 0px 3px 31px -10px rgba(0,0,0,0.4);
	}

	#hamburger + label{
		display:inline-block;
		margin: 1em;
	}

	#hamburger + label::before{
		font-family: "Font Awesome\ 5 Free";
		font-weight: 900;
		content: "\f0c9";
	}

	#hamburger:checked + label::before {
		content: "\f00d";
	}

	#follow .circular-cropper {
		display: none;
	}
}

/* 640 */
@media (max-width: 40em){

	main{
		background: green;
		font-size: 0.8em;

	}

	#topdests ol, #trending ol {
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: auto auto auto auto;
	}

	.place-listing article {
		width: auto;
		max-width: 25em;
	}

	#follow {
		display: none;
	}
}

@media (max-width: 25em){
	main{
		background: blue;
	}

	#topdests ol img, #trending ol img{
		display: none;
	}

	#slideshow a:before {
		content: "";
	}

	.place_info {
		position: relative;
		padding-top: 0.2em;
		bottom: 0;
		left: 0;
		transform: none;
	}

	.place-listing img {
		width: auto;
		height: 70%;
	}

	.circular-cropper{
		margin: 0;
	}


	/* NAVBAR */
	nav .circular-cropper {
		display: none;
	}

	#navbar form{
		margin: 0;
	}
}