/* TODO: uniformizar botoes */
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
	height: 100%;
	box-sizing: border-box;
}

body {
	margin: 0;
    padding: 0;

    min-height: 100%;
    width: 100%;
    
    --background_color: #f9f9f9;
    --darker_bg_color: #f5f0f0;
    --main_color: #e47c78;
    --footer_color: #a59b9b;
	--transp_main_color: rgba(228, 124, 120, 0.7); /* rgba format so it doesn't make the text transparent, only the background */
	--yellow_color: #f1ee2d;
    --error_msg_color: #be1e1e;

    --light_text_color: #f3f3f6;
    --border_color: #868686;

	--default_text_font: "Trebuchet MS", Helvetica, sans-serif;
    
	/* TODO: passar para javascript para n ser hardcoded */
	--footer_height: 4em;
	--footer_padding: 1em;
	--footer_border: 20px;
	/* TODO: ver como se passa par js */
	--nav_padding: 0.4em;
	--nav_height: 3.5em;
}

h1, h2, h3, h4, h5, h6, a, p, label {
    font-family: var(--default_text_font);
}

/* circular cropper: apenas para usar em imagens fixas como o logotipo e o github */
.circular-cropper {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 1em;
    display: flex;
    justify-content: center;
}

.circular-cropper img {
    width: auto;
    height: 100%;
}

.circular-cropper img#logo {
    height: 175%;
    margin-top: -1.3em;
    margin-left: 0.2em;
}

.circular-cropper img#github {
    height: 107%;
    margin-top: -0.2em;
}

.circular-cropper img#logo-login {
    height: 180%;
    margin-top: -2.8em;
    margin-left: 0.4em;
}

#navbar .circular-cropper, footer .circular-cropper {
    width: 3.5em;
    height: 3.5em;
}

#login-form .circular-cropper {
    width: 7.2em;
    height: 7.2em;
}

.circular-cropper#mail-icon {
    width: 2.5em;
    height: 2.5em;
    position: absolute;
    top: 1.5em;
    left: 20em;
}

/* ----------- */

/* circular-img: para usar em imagens que podem variar (profile pic, place images, etc) */
.circular-img{
	object-fit: cover;
	border-radius: 50%;
}

a.circ-img-link {
    display: flex;
    align-items: center;
}

#navbar .circular-img {
    width: 3.5em;
    height: 3.5em;
    margin: 0 1em;
}

#topdests .circular-img, #trending .circular-img {
    width: 3.7em;
	height: 3.7em;
	vertical-align: middle;
	position: relative;
}

#profile-image img.circular-img {
    width: 11.5em;
    height: 11.5em;
    position: absolute;
    top: -7em;
    left: 12em;
}


a:hover {
    text-decoration: underline;
}

.row{
	display: flex;
	flex-direction: row;
}

.column{
	display: flex;
	flex-direction: column;
}

.error-message {
    display: none;
    font-size: 0.9em;
    color: var(--error_msg_color);
}

/**
 * ------------ NAVBAR ------------
 */

nav.transparent {
	background-color: transparent;
}

nav.transparent input[type="text"] {
	background-color: transparent;
}

body > nav {
    background-color: var(--main_color);
    color: var(--light_text_color);
    margin: 0;
    padding: var(--nav_padding);
	font-size: 1em;
	height: var(--nav_height) + 2* var(--nav_padding);
}

#navbar {
	z-index: 250;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

#profilepagelink {
    display: flex;
    align-items: center;
}

#navbar form {
    flex-grow: 1;
    margin: 0 1em;
}

a {
    color: var(--light_text_color);
    text-decoration: none;
}

#navbar form, #navbar a {
    margin: 0 2em;
}

#navbar a#link-image {
    margin-right: 1em;
}

#navbar a#link-name {
    margin-left: 0;
    margin-right: 1em;
}

nav input[type="text"] {
	color: var(--light_text_color);
	padding: 1em;
	border: none;
	background-color: var(--main_color);
	font-weight: 500;
}

nav input[type="text"]::placeholder{
	opacity: 100%;
}

.fa-search {
	cursor: pointer;
}

/* TODO: se calhar forçar a profile pic a ser quadrada */ 

/**
 * ------------ Initial page ------------
*/

body.initial{
	background-image: url("https://images.pexels.com/photos/1095817/pexels-photo-1095817.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
	background-size: cover;
}

div.flex-column {
	color: var(--light_text_color);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	text-align: center;
	min-height: calc(100vh - var(--footer_height) - var(--footer_padding));
	height: calc(100vh - var(--footer_height) - var(--footer_padding)) !important;	 
}

 div#greetings {
	width: 100%;
	background-color: rgba(1.0, 1.0, 1.0, 0.3);
 }

 div#greetings header h2 {
	font-family: 'Parisienne', cursive;
	font-size: 2.4em;
}

div#greetings header h2 em {
	text-transform: uppercase;
	color: #d43e3e;
}

div#greetings header h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	letter-spacing: 0.1em;
	font-size: 2.5em;
	padding-bottom: 0.7em;
}


/**
 * ------------ Slideshow / carousel ------------
 * (no maximo, 6 imagens no slideshow)
 */

#slideshow {
    position: relative;
    margin-top: 1em;
}

#slideshow h3 {
    color: var(--light_text_color);
    z-index: 100;
    font-size: 1em;
    position: absolute;
    bottom: 15%;
    left: 22%;
    background-color: var(--transp_main_color);
    padding: 1em 2em;
    border-radius: 2em;
}

#slideshow a:after {
    content: " →";
}

.carousel {
    grid-area: slideshow;
    margin: 0 15%;
}

ul.slides {
    display: block;
    position: relative;
    height: 40em;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

ul.slides input {
    display: none; 
}


.slide-container { 
    display: block; 
}

.slide-image {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    transition: all .7s ease-in-out;
}   

.slide-image img {
    width: auto;
    min-width: 100%;
    height: 100%;
}

.carousel-controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    font-size: 8em;
    line-height: 5em;
    color: #fff;
}

.carousel-controls label {
    display: none;
    position: absolute;
    padding: 0 0.2em;
    opacity: 0;
    transition: opacity .2s;
    cursor: pointer;
}

.slide-image:hover + .carousel-controls label{
    opacity: 0.5;
}

.carousel-controls label:hover {
    opacity: 1;
}

.carousel-controls .prev-slide {
    width: 49%;
    text-align: left;
    left: 0;
}

.carousel-controls .next-slide {
    width: 49%;
    text-align: right;
    right: 0;
}

.carousel-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1.5em;
    z-index: 99;
    text-align: center;
}

.carousel-dots .carousel-dot {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.5;
    margin: 0.7em;
}

input:checked + .slide-container .slide-image {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .carousel-controls label {
     display: block; 
}

input#img-1:checked ~ .carousel-dots label#img-dot-1,
input#img-2:checked ~ .carousel-dots label#img-dot-2,
input#img-3:checked ~ .carousel-dots label#img-dot-3,
input#img-4:checked ~ .carousel-dots label#img-dot-4,
input#img-5:checked ~ .carousel-dots label#img-dot-5,
input#img-6:checked ~ .carousel-dots label#img-dot-6 {
	opacity: 1;
}


input:checked + .slide-container .nav label { display: block; }


/**
 * ------------ Main page body ------------
 */

main {
    width: 100%;
    color: var(--main_color);
    margin-bottom: 2em;
}

main#main-page {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto 1fr;
    grid-template-areas: "topdests trending"
                         "randlocationplaces randlocationplaces"; 
}

main h3 {
    font-size: 2em;
    margin: .5em;
}

main a {
    color: inherit;
    font-size: 1.3em;
}

#topdests, #trending {
    padding: 1em;
    margin: 3em 2em;
    background-color: var(--darker_bg_color);
    text-align: center;
    font-size: 0.9em;
}

#topdests ol, #trending ol {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    padding-top: 3em;
    list-style-type: none;
	padding-inline-start: 0;
	counter-reset: li-count;
}

ol li {
	padding: 1em;
	/* TODO: flex tira os numeros antes que seriam da list-style-type. não sei até que ponto faz sentido tirá-los para voltar a pô-los hardcoded */
	/* Por agora pus a solução do li-count. n é a minha preferida mas serve para já */
	/* display: flex; */
	counter-increment: li-count;
}

ol li a {
	display: flex;
	text-align: left;
	align-items: center;
}

ol li span {
	padding: 0 1em;
	flex-grow: 1;
}

ol li span:before {
	content: counter( li-count) '. ';
}

#topdests {
    grid-area: topdests;
}

#trending {
    grid-area: trending;
}

main#main-page .place-listing {
    grid-area: randlocationplaces;
}

.place-listing {
    border: 1px solid black;
    margin: 0 2em;
}

.place-listing img {
	height: 14em;
	width: auto;
}

.places_list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.place-listing article {
    text-align: center;
    font-size: 0.9em;
    position: relative;
    display: inline-block;
}

.place_info {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0.5em;
    left: 50%;
	transform: translate(-50%, 0%);
    color: var(--light_text_color);
}

.place_info h4, .place_info p {
    margin: auto 0.2em;
}

.more {
    text-align: center;
    margin: 1em auto;
}

.button {
    background-color: var(--main_color);
    color: var(--light_text_color);
    padding: 0.3em 2em;
    border: 1px solid var(--border_color);
    border-radius: 1em;
    transition: all .3s ease-in-out;
}

.button:hover {
    text-decoration: none;
	opacity: 0.8;
	cursor: pointer;
}

/**
 * ------------ Profile page ------------
 */

main#profile-page {
    display: grid;
    grid-template-columns: 30% auto;
    grid-template-rows: 30em auto auto 1fr;
    grid-template-areas: "banner banner"
                         "profileinfo profileinfo"
                         "bio userplaces"
                         "bio placecomments";
}

#banner-image {
    grid-area: banner;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: var(--darker_bg_color);
}

#banner-image img {
    display: block;
    width: 80%;
    object-fit: cover;
}

.edit-profile {
    position: absolute;
    left: 5em;
}

.profile-info-fields p {
    font-size: 1.1em;
}

.profile-info-fields {
    margin: 1em 0 1em 25em;
}

.profile-info {
    grid-area: profileinfo;
    display: flex;
    align-items: center;
    position: relative;
}

.bio {
    background-color: var(--darker_bg_color);
    margin-left: 1em;
    padding: 0 1em;
    grid-area: bio;
}

main#profile-page .place-listing {
    grid-area: userplaces;
}

.place-comments {
    grid-area: placecomments;
    margin: 1em;
    margin-bottom: 0;
    background-color: var(--darker_bg_color);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


/**
 * ------------ Profile form ------------
 */

#profile-form header {
    margin: 2em;
}

#profile-form h3 {
    font-size: 2.4em;
    color: var(--main_color);
}

#profile-form form {
    margin: 2em;
    display: flex;
    flex-direction: column;
}

#profile-form label, #profile-form #form-gender {
    font-size: 1.2em;
    color: var(--main_color);
    margin: 1em 0;
    font-weight: bold;
}

#img-upload {
    align-items: center;
}

#img-upload div {
    align-items: center;
}

#img-to-upload {
    display: block;
    border: 3px solid var(--main_color);
    margin: 1em;
    width: 12em;
    height: 12em;
}

#img-upload > label.button {
    color: var(--light_text_color);
    font-weight: normal;
    margin-right: 1em;
}

#img-upload input[type="file"] {
    display: none;
}

#profile-form h4 {
    display: inline-block;
}

#profile-form input[type="submit"] {
    text-align: center;
    margin: 1em auto;
}

#profile-form textarea {
    resize: none;
}

#new-password {
    margin-right: 3em;
}


/**
 * ------------ House Card ------------
 */

.card {
	border-bottom: 1px var(--border_color) solid;
	padding: 1em 0;
	color: var(--main_color);	
}

.card:hover {
    background: var(--darker_bg_color);
    cursor: pointer;
}

.card .info {
    margin: 0 1em;
    flex-grow: 1;
}

/* TODO: depois apagar pq será carroussel */
.hcard-img {
	width: 16em;
	height: 11.5em;
	object-position: center;
	/* TODO: ver esta prop */
	object-fit: none;
}

.card .info h4{
	margin: 0.3em 0;
}

.card .info span{
	margin-right: 1em;
	padding: 0.3em 1em;
	border: var(--border_color) 1px solid;
	border-radius: 1em;
	background: var(--main_color);
	color: var(--light_text_color);
}

.card a {
    flex-grow: 1;
    font-size: 1em;
}

.card a:hover {
    text-decoration: none;
}

.card footer {
	align-items: flex-end;
	flex-grow: 1;
	justify-content: space-between;
}

.card footer .card-rating {
	margin: 1em;
}

/*
 * ------------ Search Results ------------
 */

main#list_places {
	margin-bottom: 0;
}

section#house_results {
	margin: 2em;
	/* TODO: depois com a outra coluna n será preciso */
	max-width: 55em;
}

section#map {
	width: auto;
	position: fixed;
	left: 55em;
	z-index: -1;
}

/*
 * ------------ Search Location Hint ------------
 */

#search-hints{
	background: var(--background_color);
	color: var(--main_color);
	position: absolute;        
	z-index: 325;
	top: 3.5em;
	left: 15em;
	font-weight: 500;
	font-size: 0.9em;
}

/* Formatting result items */
#search-hints p{
	margin: 0;
	padding: 7px 10px;
	border: 1px solid var(--border_color);
	border-top: none;
	cursor: pointer;
}
#search-hints p:hover{
	background:var(--darker_bg_color);
	font-weight: 600;
}


/*
 * ------------ Search Filters ------------
 */
#filters {
	display: none;
    grid-template-areas: "dates dates"
						"guest price"
						"facilities ratings"
						"submit submit"; 
	position: absolute;
	background: var(--darker_bg_color);
	color: var(--main_color);
	border: var(--footer_color) 4px solid;
	z-index: 200;

}

#filters > fieldset {
	border: none;
	display: flex;
	flex-direction: column;
}

#filters > fieldset label  {
	text-align: right;
	padding: 0.2em;
}

#filters > fieldset h4  {
	margin: 1em;
	text-align: left;
}


.fas.fa-star {
	color: var(--yellow_color);
}

/* TODO: por na mesma coluna check in check out que os de baixo */
#filters #dates_field{
	display: block;
	grid-area: dates;
	text-align: center;
}

#guests_field{
	grid-area: guest;
}

#price_field{
	grid-area: price;
}

#rating_field {
	grid-area: ratings;
}

#filters #rating_field label {
	text-align: left;
	padding: 0;
}

#facilities_field{
	grid-area: facilities;
}

#filters input[type="submit"]{
	grid-area: submit;
	font-size: 1em;
	max-width: 8em;
	margin: 1em auto;
}

/*
 * ------------ Search Location Hint ------------
 */

 #search-hints{
	background: var(--background_color);
	color: var(--main_color);
	position: absolute;        
	z-index: 325;
	top: 3.5em;
	left: 15em;
	font-weight: 500;
	font-size: 0.9em;
}

/* Formatting result items */
#search-hints p{
	margin: 0;
	padding: 0.4em 0.5em;
	border: 1px solid var(--border_color);
	border-top: none;
	cursor: pointer;
}

#search-hints p:hover{
	background:var(--darker_bg_color);
	font-weight: 600;
}


/**
 * ------------ Footer ------------
 */

 body > footer {
    background-color: var(--footer_color);
    padding: var(--footer_padding);
    border-top: var(--footer_border) solid var(--main_color);
    display: flex;
    align-items: center;
}

#follow {
    display: flex;
    align-items: center;
}

#cpline {
    margin-left: 1em;
    flex-grow: 1;
}

#follow ul {
    margin: 0;
    padding-left: 1em;
}

footer a {
    color: black;
}

/**
 * ------------ Star Rating ------------
 */

.star-rating {
    display: inline-flex;
}

.back-stars {
    position: relative;
}
.front-stars {
    overflow: hidden;
    position: absolute;
}

/**
 * ------------ Login Form ------------
 */

 #login-form{
	background-color: var(--darker_bg_color);
	color: var(--main_color);
	position: relative;
	margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
	border: 1px solid var(--border_color);
	padding: 1em;
	width: 25%;
	min-width: 25em;
 }

#login-form > div {
	margin: 0 auto;
}

#login-form > label {
	margin: 1em 0;
	font-weight: 600;
}

#login-form > button {
	margin: 1em auto;
}

.fa-times:hover{
	color: var(--main_color);
	cursor: pointer;
}
.fa-times{
	position: absolute;
	top: 1em;
	right: 2em;
	color: var(--border_color);
}

#pop-up {
	display: none;
	position: fixed;
	z-index: 350;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.4);
}

/* TODO: por inputs bonitos */
/*---------------------place_info.php-----
*/
#Place_Info_Container{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows:auto auto auto auto auto;
    grid-template-areas: 
                        "Info Aside"
                        "Map Aside"
                        "Reviews Aside"
                        "Avaiability Avaiability"
                        "Similar Similar";                        
}

#House_Info{
    grid-area:Info;
    margin-left: 6rem;
    margin-right: 2rem;
    border-bottom: 2px;
    border-bottom-color: var(--main_color);
    border-bottom-style: solid;
}
#House_Info p{
    text-align: justify;
}

#House_Info header{
    
    font-size: 2rem;
    padding-bottom: 0.1em;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: var(--main_color);
    
}

#Pictographic_Info{
    list-style-type: none;
    padding-bottom: 1em;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: var(--main_color);
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    

}

#Pictographic_Info li{
    display: inline;
    background-color: gainsboro;
    
    margin-right: 1em;
    border-style: solid;
    border-color: transparent;
    border-radius: 20%;
    text-align: center;
}

.info_icon {
    display: inline-block;
    width: 1em;
    height: 1em; 
}

#Pop_UP_Fast_Reservation{
    grid-area:Aside;
    border-left: 3px;
    padding-left: 0.2em;
    border-top:1em;
    position: -webkit-sticky;
    position: sticky;
    top:0;
    left: 55%;
    height: 25vh;
}
#Owner_info{
    margin-top: 1em;
}

#Owner_info span {
    display: inline-block;
    height: 3em;
    padding-top: 1em;
    padding-left: 0.5em;
    
}
#Book_Submit_Button{
    margin-top:1em;
    margin-left: 6em;
}
#Pop_UP_Fast_Reservation img{
    width: 3em;
    height: 3em;
    float: left;
    margin-left: 0px;
}

#Google_Maps_Widget_Container{
    grid-area:Map;
    margin-left: 6rem;
    margin-right: 2rem;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: var(--main_color);

}
#Google_Maps_Img{
    height: 80%;
    width: 80%;
}

#Reviews_Container{
    grid-area:Reviews;
    margin-left: 6rem;
    margin-right: 1rem;    
}

.review{
    border-bottom-style: solid; 
    border-bottom-width: 3px;
    border-bottom-color: var(--main_color);
}
.review .circular-cropper{
    margin-left: 0px;
}

#reviews .Comment_Author_Img{
    height: 3em;
    width: 3em;
    float: left;
    clear: right;

}

#Avaiabilities{
    margin-top: 1em;
    margin-left: 6rem;
    grid-area:Avaiability;
    border-bottom-style: solid; 
    border-bottom-width: 3px;
    border-bottom-color: var(--main_color);

}

#Avaiabilities_Calendars form{
    display: inline;
}

#Avaiabilities_Calendars p{
    display: inline;
}

#Avaiabilities_Number_Guests select{
 margin-bottom: 1em;   
}

#Similar_Offers_Container{
    grid-area:Similar;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-left: 6rem;
    margin-right: 2rem;
}
#Similar_Offers_Container img{
    width: 100%;
    height: auto;
}
    
#Similar_Offers_Left{
    flex-basis: 20%;
}
#Similar_Offers_Center{
    margin-top: 2em;

    flex-basis: 40%;
}
#Similar_Offers_Right{

    flex-basis: 20%;
}


/*
My Place
*/

#my_houses_container{
    display: grid;
    grid-template-columns: 1fr 0.2fr;
    grid-template-rows:auto auto;
    grid-template-areas: 
                        "stats add"
                        "list_house list_house"
                        
    ;
    margin-left: 1rem;
}

#my_houses_statistics_container{
    grid-area: stats;
    border-bottom-style: solid;
    border-bottom-width: 0.1em;
    border-bottom-color:var(--main_color); 
}

#my_houses_statistics_header p{
    color:var(--main_color);
    font-size: 2em;
    margin-left: -0.2em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}


#my_houses_statistics_info{
    display: flex;
    align-items: center;
    font-size: 1.5em;
    justify-content: flex-start;
    flex-direction: row;
}
#my_houses_statistics_owner{
    margin-right: auto;
    margin-left: 1em;
    width: fit-content;
}


#my_houses_statistics_info p{
    padding-right: 5em;    
}
#my_houses_statistics_info img{

    height: 3em;
    width: 3em;
}
#my_houses_add_new{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: gray; 
}

.edit-stat span{  
    width: 10em;
    margin-left: auto;
    text-align: center;
}

#my_houses_list_container{
    grid-area: list_house;
    margin-right: 4rem;
}

#my_houses_list_container .info_right{
    margin-left: auto;
    margin-right: 2em;
    justify-content: space-around;
}

.card .info_right span{
	margin-right: 1em;
	padding: 0.3em 1em;
	border: var(--border_color) 1px solid;
	border-radius: 1em;
	background: var(--main_color);
	color: var(--light_text_color);
}



/*Edit-House-Form*/

#my_house_edit_container legend{
    color: var(--main_color);
    font-size: 1.5em
}
#my_house_edit_container fieldset{
    margin-bottom: 2em;
}
#my_house_edit_container .edit-house-imgs img{
    width: 20em;
    height: 10em;
}

#my_house_edit_container .edit-house-imgs{
    justify-content: space-around;
}

#my_house_edit_container .edit-house-imgs input{
    align-self: flex-end;
}

#my_house_edit_container .edit-house-location,#my_house_edit_container .edit-house-caracteristics{
    justify-content: space-evenly;
}










/**
 * ------------ Responsive ------------
 */

@media (max-width: 70em) {

    main#main-page .places_list {
        flex-direction: column;
        justify-content: space-evenly;
    }

    main#main-page article {
        margin: 1em auto;
    }
}
