*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
	height: 100%;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	position: relative;
	min-height: 100%;

   --background_color: #f9f9f9;
    --darker_bg_color: #f5f0f0;
    --main_color: #e47c78;
    --footer_color: #a59b9b;

    --header_text_color: #f3f3f6;

	--default_text_font: sans-serif;

	/* TODO: passar para javascript para n ser hardcoded */
	--footer_height: 4em;
	
	padding-bottom: calc(var(--footer_height) + 3em);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--default_text_font);
}

#topdests img, #trending img {
    border-radius: 40px;
}

a:hover {
    text-decoration: underline;
}

/**
 * ------------ NAVBAR ------------
 */

nav.transparent {
	background-color: transparent;
}

nav.transparent input[type="text"] {
	background-color: transparent;
}

body > nav {
	background-color: var(--main_color);
    color: var(--header_text_color);
    margin: 0;
    padding: 0.4em;
    font-size: 1em;
}

#navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#profilepagelink {
    display: flex;
    align-items: center;
}

/* TODO: obrigar figura a ser um quadrado e depois mudar este valor para const pois é só centrar, desta forma ter-se-ia de por um valor para cada profile pic */
#profilepic {
	margin-left: -35%;   
}

#navbar form {
    flex-grow: 1;
}

a {
    color: var(--header_text_color);
    text-decoration: none;
}

#navbar a, #navbar form {
    margin: 0 2em;
}

nav input[type="text"] {
	color: var(--header_text_color);
	padding: 0.75em;
	border: none;
	background-color: var(--main_color);
	font-weight: 500;
}

nav input[type="text"]::placeholder{
	opacity: 100%;
}

.circular-cropper {
    width: 60px;
    height: 60px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.circular-cropper img {
	width: auto;
	height: 100%;
}

/* TODO: mudar qd imagem nova */
img#logo{
	height: 175%;
	margin-left: -47px;
	margin-top: -22px;
}

img#github{
	height: 107%;
	margin-left: -31px;
	margin-top: -3px;
}

/**
 * ------------ Slideshow ------------
 * (assume-se que sao sempre 5 imagens no slideshow)
 */
 
 #slideshow img {
    width: 100%;
    margin: 1em auto;
    position: relative;
 }
 
 /* input {
     display: none;
 }
 
 .inner {
     width: percentage($num-of-slide);
     line-height: 0;
 }
 
 article {
     width: percentage(1/$num-of-slide);
     float: left;
     position: relative;
 
     img {
         width: 100%;
     }
 } */
 
 /*---- SET UP CONTROL ----*/
 /* .slider-prev-next-control {
     height: 50px;
     position: absolute;
     top: 50%;
     width: 100%;
     @include transform(translateY(-50%));
 
     label {
         display: none;
         width: 40px;
         height: 40px;
         border-radius: 50%;
         background: #fff;
         opacity: 0.7;
 
         &:hover {
             opacity: 1;
         }
     }
 }
 
 .slider-dot-control {
     position: absolute;
     width: 100%;
     bottom: 0;
     text-align: center;
 
     label {
         cursor: pointer;
         border-radius: 5px;
         display: inline-block;
         width: 10px;
         height: 10px;
         background: #bbb;
         @include transition(all 0.3s);
 
         &:hover {
             background: #ccc;
             border-color: #777;
         }
     }
 } */
 
 /* Info Box */
 /* .info {
     position: absolute;
     font-style: italic;
     line-height: 20px;
     opacity: 0;
     color: #000;
     text-align: left;
     @include transition(all 1000ms ease-out 600ms);
 
     h3 {
         color: #fcfff4;
         margin: 0 0 5px;
         font-weight: normal;
         font-size: 1.5em;
         font-style: normal;
     }
 
     &.top-left {
         top: 30px;
         left: 30px;
     }
 
     &.top-right {
         top: 30px;
         right: 30px;
     }
 
     &.bottom-left {
         bottom: 30px;
         left: 30px;
     }
 
     &.bottom-right {
         bottom: 30px;
         right: 30px;
     }
 } */
 
 /* Slider Styling */
 /* .slider-wrapper {
     width: 100%;
     overflow: hidden;
     border-radius: 5px;
     box-shadow: 1px 1px 4px #666;
     background: #fff;
     background: #fcfff4;
     @include transform(translateZ(0));
     @include transition(all 500ms ease-out);
 
     .inner {
         @include transform(translateZ(0));
         @include transition(all 800ms cubic-bezier(0.77, 0, 0.175, 1));
     }
 } */
 
 /*---- SET POSITION FOR SLIDE ----*/
 /* %bind-prev-next-button {
     font-family: FontAwesome;
     font-style: normal;
     font-weight: normal;
     text-decoration: inherit;
     margin: 0;
     line-height: 38px;
     font-size: 3em;
     display: block;
     color: #777;
 }
 
 %bind-next-button {
     @extend %bind-prev-next-button;
     content: "\f105";
     padding-left: 15px;
 }
 
 %bind-next-label {
     display: block;
     float: right;
     margin-right: 5px;
 }
 
 %bind-prev-label {
     display: block;
     float: left;
     margin-left: 5px;
 }
 
 %bind-prev-button {
     @extend %bind-prev-next-button;
     content: "\f104";
     padding-left: 8px;
 }
 
 %bind-background-active-dot {
     background: #333;
 }
 
 %bind-opacity-info {
     opacity: 1;
 }
 
 @for $i from 1 through $num-of-slide {
     #slide#{$i}:checked {
         & ~ .slider-wrapper .inner {
             margin-left: percentage(1 - $i);
         }
 
         & ~ .slider-dot-control label:nth-child(#{$i}) {
             @extend %bind-background-active-dot;
         }
 
         & ~ .slider-wrapper article:nth-child(#{$i}) .info {
             @extend %bind-opacity-info;
         }
     }
 }
 
 @for $i from 1 through ($num-of-slide - 1) {
     #slide#{$i}:checked {
         & ~ .slider-prev-next-control label:nth-child(#{$i +1}) {
             @extend %bind-next-label;
 
             &::after {
                 @extend %bind-next-button;
             }
         }
     }
 }
 
 #slide#{$num-of-slide}:checked ~ .slider-prev-next-control label:nth-child(1) {
     @extend %bind-next-label;
 
     &::after {
         @extend %bind-next-button;
     }
 }
 
 @for $i from 2 through $num-of-slide {
     #slide#{$i}:checked {
         & ~ .slider-prev-next-control label:nth-child(#{$i - 1}) {
             @extend %bind-prev-label;
 
             &::after {
                 @extend %bind-prev-button;
             }
         }
     }
 }
 
 #slide#{1}:checked ~ .slider-prev-next-control label:nth-child(#{$num-of-slide}) {
     @extend %bind-prev-label;
 
     &::after {
         @extend %bind-prev-button;
     }
 } */
 
 /*---- TABLET ----*/
 /* @media only screen and (max-width: 850px) and (min-width: 450px) {
     .slider-wrapper {
         border-radius: 0;
     }
 } */
 
 /*---- MOBILE----*/
 /* @media only screen and (max-width: 450px) {
     .slider-wrapper {
         border-radius: 0;
     }
 
     .slider-wrapper .info {
         opacity: 0;
     }
 }
 
 @media only screen and (min-width: 850px) {
     body {
         padding: 0 80px;
     }
 } */


/**
 * ------------ Main page body ------------
 */

main {
	display: grid;
	width: 100%;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: "topdests trending"
                          "cityplaces cityplaces"; 
    color: var(--main_color);
    margin-bottom: 2em;
}

main h3 {
    font-size: 2em;
    margin: .5em;
}

main a {
    color: inherit;
    font-size: 1.3em;
}

#topdests, #trending {
    padding: 1em;
    margin: 3em 2em;
    background-color: var(--darker_bg_color);
    text-align: center;
}

#topdests ol, #trending ol {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    padding-top: 3em;
    list-style-type: none;
	padding-inline-start: 0;
	counter-reset: li-count;
}

/* #trending ol {
    padding-top: 1.5em;
    list-style-type: none;
    padding-inline-start: 0;
} */

ol li {
	padding: 1em;
	/* TODO: flex tira os numeros antes que seriam da list-style-type. não sei até que ponto faz sentido tirá-los para voltar a pô-los hardcoded */
	/* Por agora pus a solução do li-count. n é a minha preferida mas serve para já */
	/* display: flex; */
	counter-increment: li-count;
}

ol li a {
	display: flex;
	text-align: left;
	align-items: center;
}

ol li span {
	padding: 0 1em;
	flex-grow: 1;
}

ol li span:before {
	content: counter( li-count) '. ';
}

#topdests {
    grid-area: topdests;
}

#trending {
    grid-area: trending;
}

#topdests img, #trending img {
    width: 60px;
	height: 60px;
	/* vertical-align: middle; */

	position: relative;
}

#cityplaces {
    grid-area: cityplaces;
    border: 1px solid black;
    margin: 0 2em;
}

#cityplaces img {
	width: 80%;
	height: auto;
}

#places_list {
    display: flex;
    justify-content: space-evenly;

}

/**
 * ------------ Initial page ------------
 */

 body.initial{
	background-image: url("https://images.pexels.com/photos/1095817/pexels-photo-1095817.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
	background-size: cover;
	text-align: center;
 }

 div#greetings {
	width: 100%;
	TODO: container height hardcoded
	height: 10em;
	background-color: rgba(1.0, 1.0, 1.0, 0.3);
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	
	margin: auto;	 
 }


/**
 * ------------ Footer ------------
 */

body > footer {
    background-color: var(--footer_color);
    padding: 1em;
    border-top: 20px solid var(--main_color);
    display: flex;
	align-items: center;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
}

#follow {
    display: flex;
    align-items: center;
}

#cpline {
    flex-grow: 1;
}

#follow ul {
    margin: 0;
    padding-left: 1em;
}

footer a {
    color: black;
}