/* TODO: uniformizar botoes */
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
	height: 100%;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	position: relative;
	min-height: 100%;

    --background_color: #f9f9f9;
    --darker_bg_color: #f5f0f0;
    --main_color: #e47c78;
    --footer_color: #a59b9b;
	--transp_main_color: rgba(228, 124, 120, 0.7); /* rgba format so it doesn't make the text transparent, only the background */
	--yellow_color: #f1ee2d;

    --light_text_color: #f3f3f6;
    --border_color: #868686;

	--default_text_font: sans-serif;

	/* TODO: passar para javascript para n ser hardcoded */
	--footer_height: 4em;
	--footer_padding: 1em;

	padding-bottom: calc(var(--footer_height) + 3em);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--default_text_font);
}

#topdests img, #trending img {
    border-radius: 40px;
}

a:hover {
    text-decoration: underline;
}

.row{
	display: flex;
	flex-direction: row;
}

.column{
	display: flex;
	flex-direction: column;
}

/**
 * ------------ NAVBAR ------------
 */

nav.transparent {
	background-color: transparent;
}

nav.transparent input[type="text"] {
	background-color: transparent;
}

body > nav {
    background-color: var(--main_color);
    color: var(--light_text_color);
    margin: 0;
    padding: 0.4em;
    font-size: 1em;
}

#navbar {
	z-index: 250;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

#profilepagelink {
    display: flex;
    align-items: center;
}

/* TODO: obrigar figura a ser um quadrado e depois mudar este valor para const pois é só centrar, desta forma ter-se-ia de por um valor para cada profile pic */
#profilepic {
    margin-left: -35%; 
}

#navbar form {
    flex-grow: 1;
}

a {
    color: var(--light_text_color);
    text-decoration: none;
}

#navbar a, #navbar form {
    margin: 0 2em;
}

nav input[type="text"] {
	color: var(--light_text_color);
	padding: 1em;
	border: none;
	background-color: var(--main_color);
	font-weight: 500;
}

nav input[type="text"]::placeholder{
	opacity: 100%;
}

.img-size-60{
	width: 60px;
    height: 60px;
}

.circular-cropper {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 1em;
}

.circular-cropper img {
	width: 0 auto;
	height: 100%;
}

/* TODO: mudar qd imagem nova */
img#logo{
	height: 175%;
	margin-left: -47px;
	margin-top: -22px;
}

img#github{
	height: 107%;
	margin-left: -31px;
	margin-top: -3px;
}

/**
 * ------------ Slideshow / carousel ------------
 * (no maximo, 6 imagens no slideshow)
 */

#slideshow {
    position: relative;
    margin-top: 1em;
}

#slideshow h3 {
    color: var(--light_text_color);
    z-index: 100;
    font-size: 1em;
    position: absolute;
    bottom: 70px;
    left: 300px;
    background-color: var(--transp_main_color);
    padding: 1em 2em;
    border-radius: 30px;
}

#slideshow a:after {
    content: " →";
}

.carousel {
    grid-area: slideshow;
    margin: 0 15%;
}

ul.slides {
    display: block;
    position: relative;
    height: 600px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

ul.slides input {
    display: none; 
}


.slide-container { 
    display: block; 
}

.slide-image {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    transition: all .7s ease-in-out;
}   

.slide-image img {
    width: auto;
    min-width: 100%;
    height: 100%;
}

.carousel-controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    font-size: 100px;
    line-height: 600px;
    color: #fff;
}

.carousel-controls label {
    display: none;
    position: absolute;
    padding: 0 20px;
    opacity: 0;
    transition: opacity .2s;
    cursor: pointer;
}

.slide-image:hover + .carousel-controls label{
    opacity: 0.5;
}

.carousel-controls label:hover {
    opacity: 1;
}

.carousel-controls .prev-slide {
    width: 49%;
    text-align: left;
    left: 0;
}

.carousel-controls .next-slide {
    width: 49%;
    text-align: right;
    right: 0;
}

.carousel-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    z-index: 99;
    text-align: center;
}

.carousel-dots .carousel-dot {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.5;
    margin: 10px;
}

input:checked + .slide-container .slide-image {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .carousel-controls label {
     display: block; 
}

input#img-1:checked ~ .carousel-dots label#img-dot-1,
input#img-2:checked ~ .carousel-dots label#img-dot-2,
input#img-3:checked ~ .carousel-dots label#img-dot-3,
input#img-4:checked ~ .carousel-dots label#img-dot-4,
input#img-5:checked ~ .carousel-dots label#img-dot-5,
input#img-6:checked ~ .carousel-dots label#img-dot-6 {
	opacity: 1;
}


input:checked + .slide-container .nav label { display: block; }


/**
 * ------------ Main page body ------------
 */

main {
	display: grid;
	width: 100%;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: "topdests trending"
                          "randlocationplaces randlocationplaces"; 
    color: var(--main_color);
    margin-bottom: 2em;
}

main h3 {
    font-size: 2em;
    margin: .5em;
}

main a {
    color: inherit;
    font-size: 1.3em;
}

#topdests, #trending {
    padding: 1em;
    margin: 3em 2em;
    background-color: var(--darker_bg_color);
    text-align: center;
    font-size: 0.9em;
}

#topdests ol, #trending ol {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    padding-top: 3em;
    list-style-type: none;
	padding-inline-start: 0;
	counter-reset: li-count;
}

/* #trending ol {
    padding-top: 1.5em;
    list-style-type: none;
    padding-inline-start: 0;
} */

ol li {
	padding: 1em;
	/* TODO: flex tira os numeros antes que seriam da list-style-type. não sei até que ponto faz sentido tirá-los para voltar a pô-los hardcoded */
	/* Por agora pus a solução do li-count. n é a minha preferida mas serve para já */
	/* display: flex; */
	counter-increment: li-count;
}

ol li a {
	display: flex;
	text-align: left;
	align-items: center;
}

ol li span {
	padding: 0 1em;
	flex-grow: 1;
}

ol li span:before {
	content: counter( li-count) '. ';
}

#topdests {
    grid-area: topdests;
}

#trending {
    grid-area: trending;
}

#topdests img, #trending img {
    width: 70px;
	height: 70px;
	vertical-align: middle;
	position: relative;
}

#randlocationplaces {
    grid-area: randlocationplaces;
    border: 1px solid black;
    margin: 0 2em;
}

#randlocationplaces img {
	height: 250px;
	width: auto;
}

#places_list {
    display: flex;
    justify-content: space-evenly;
}

#randlocationplaces article {
    text-align: center;
    font-size: 0.9em;
    position: relative;
}

.place_info {
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    position: absolute;
    bottom: 10px;
    left: 50%;
	transform: translate(-50%, 0%);
    color: var(--light_text_color);
}

.place_info h4, .place_info p {
    margin: auto 0.2em;
}

#more {
    text-align: center;
    margin: 1em auto;
}

.button {
    background-color: var(--main_color);
    color: var(--light_text_color);
    padding: 0.3em 2em;
    border: 1px solid var(--border_color);
	border-radius: 30px;
}

.button:hover {
	text-decoration: underline;
	opacity: 0.8;
	cursor: pointer;
}

/**
 * ------------ Initial page ------------
 */

 body.initial{
	background-image: url("https://images.pexels.com/photos/1095817/pexels-photo-1095817.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
	background-size: cover;
	padding-bottom: 0;
 }

 div.flex-column {
	color: var(--light_text_color);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	text-align: center;
	min-height: calc(100vh - var(--footer_height) - var(--footer_padding));
	height: calc(100vh - var(--footer_height) - var(--footer_padding)) !important;	 
}

 div#greetings {
	width: 100%;
	background-color: rgba(1.0, 1.0, 1.0, 0.3);
 }

 div#greetings header h2 {
	font-family: 'Parisienne', cursive;
	font-size: 2.4em;
}

div#greetings header h2 em {
	text-transform: uppercase;
	color: #d43e3e;
}

div#greetings header h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	letter-spacing: 0.1em;
	font-size: 2.5em;
	padding-bottom: 0.7em;
}


/**
 * ------------ House Card ------------
 */

.card {
	border-bottom: 1px var(--border_color) solid;
	padding: 1em 0;
	color: var(--main_color);	
}

.card:hover {
	background: var(--darker_bg_color);
}

.card .info {
	margin: 0 1em;
}

/* TODO: depois apagar pq será carroussel */
.hcard-img {
	width: 16em;
	height: 11.5em;
	object-position: center;
	/* TODO: ver esta prop */
	object-fit: none;
}

.card .info h4{
	margin: 0.3em 0;
}

.card .info span{
	margin-right: 1em;
	padding: 0.3em 1em;
	border: var(--border_color) 1px solid;
	border-radius: 30px;
	background: var(--main_color);
	color: var(--light_text_color);
}

.card footer {
	align-items: flex-end;
	flex-grow: 1;
	justify-content: space-between;
}

.card footer .card-rating {
	margin: 1em;
}

/*
 * ------------ Search Results ------------
 */

section#house_results {
	margin: 2em;
	/* TODO: depois com a outra coluna n será preciso */
	max-width: 55em;
}

section#map {
	width: auto;
	position: fixed;
	left: 55em;
}


/*
 * ------------ Search Filters ------------
 */
#filters {
	display: none;
    grid-template-areas: "dates dates"
						"guest price"
						"facilities ratings"
						"submit submit"; 
	position: absolute;
	background: var(--darker_bg_color);
	color: var(--main_color);
	border: var(--footer_color) 4px solid;
	z-index: 200;

}

#filters > fieldset {
	border: none;
	display: flex;
	flex-direction: column;
}

#filters > fieldset label  {
	text-align: right;
	padding: 0.2em;
}

#filters > fieldset h4  {
	margin: 1em;
	text-align: left;
}


.fas.fa-star {
	color: var(--yellow_color);
}

/* TODO: por na mesma coluna check in check out que os de baixo */
#filters #dates_field{
	display: block;
	grid-area: dates;
	text-align: center;
}

#guests_field{
	grid-area: guest;
}

#price_field{
	grid-area: price;
}

#rating_field {
	grid-area: ratings;
}

#filters #rating_field label {
	text-align: left;
	padding: 0;
}

#facilities_field{
	grid-area: facilities;
}

#filters input[type="submit"]{
	grid-area: submit;
	font-size: 1em;
	max-width: 8em;
	margin: 1em auto;
}

/**
 * ------------ Footer ------------
 */

body > footer {
    background-color: var(--footer_color);
    padding: var(--footer_padding);
    border-top: 20px solid var(--main_color);
    display: flex;
	align-items: center;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
}

#follow {
    display: flex;
    align-items: center;
}

#cpline {
    flex-grow: 1;
}

#follow ul {
    margin: 0;
    padding-left: 1em;
}

footer a {
    color: black;
}

/**
 * ------------ Star Rating ------------
 */

.star-rating {
    display: inline-flex;
}

.back-stars {
    position: relative;
}
.front-stars {
    overflow: hidden;
    position: absolute;
}

/**
 * ------------ Login Form ------------
 */

 #login-form{
	background-color: var(--darker_bg_color);
	color: var(--main_color);
	position: relative;
	margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
	border: 1px solid var(--border_color);
	padding: 1em;
	width: 25%;
	min-width: 25em;
 }

#login-form > div {
	margin: 0 auto;
}

#login-form > label {
	margin: 1em 0;
	font-weight: 600;
}

#login-form > button {
	margin: 1em auto;
}

.fa-times:hover{
	color: var(--main_color);
	cursor: pointer;
}
.fa-times{
	position: absolute;
	top: 1em;
	right: 2em;
	color: var(--border_color);
}

/* TODO: uniformizar isto */
#login-form #logo {
	margin-left: -126px;
	margin-top: -57px;
}

.img-size-10{
	width: 10em;
	height: 10em;
}

#pop-up {
	display: none;
	position: fixed;
	z-index: 300;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.4);
}

/* TODO: por inputs bonitos */
/*---------------------place_info.php-----
*/
#Place_Info_Container{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows:auto auto auto auto auto;
    grid-template-areas: 
                        "Info Aside"
                        "Map Aside"
                        "Reviews Aside"
                        "Avaiability Avaiability"
                        "Similar Similar";                        
}

#House_Info{
    min-width: 0;
    min-height:0;
    grid-area:Info;
    margin-left: 6rem;
    margin-right: 2rem;
    border-bottom: 2px;
    border-bottom-color: var(--main_color);
    border-bottom-style: solid;
}
#House_Info p{
    text-align: justify;
}

#House_Info header{
    
    font-size: 2rem;
    padding-bottom: 2px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: var(--main_color);
    
}

#Pictographic_Info{
    list-style-type: none;
    padding-bottom: 1em;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: var(--main_color);
    padding-left: 0;
    

}
#Pictographic_Info li{
    display: inline;
    background-color: gainsboro;
    
    margin-right: 1em;
    border-style: solid;
    border-color: transparent;
    border-radius: 10px;
    
    text-align: center;
}
.info_icon {
    display: inline-block;
    width: 1em;
    height: 1em; 
}

#Pop_UP_Fast_Reservation{
    min-width: 0;
    min-height:0;
    grid-area:Aside;
    border-left: 3px;
    padding-left: 3px;
    border-top:1em;
}

#Owner_info span {
    display: inline-block;
    height: 3em;
    padding-top: 1em;
    padding-left: 0.5em;
    
}
#Book_Submit_Button{
    margin-top:5%;
    margin-left: 15%;
}
#Pop_UP_Fast_Reservation img{
    width: 3em;
    height: 3em;
    border-style: solid;
    border-color: transparent;
    border-radius: 5em;
    float: left;
}

#Google_Maps_Widget_Container{
    min-width: 0;
    min-height:0;
    grid-area:Map;
    margin-left: 6rem;
    margin-right: 2rem;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: var(--main_color);

}
#Google_Maps_Img{
    height: 80%;
    width: 80%;
}

#Reviews_Container{
    min-width: 0;
    min-height:0;
    grid-area:Reviews;
    margin-left: 6rem;
    margin-right: 2rem;    
}

.Reviews{
    border-bottom-style: solid; 
    border-bottom-width: 3px;
    border-bottom-color: var(--main_color);
}

#Reviews_Container .Comment_Author_Img{
    height: 3em;
    width: 3em;
    border-style: solid;
    border-color: transparent;
    border-radius: 25px;
    display: inline-block;
}

.Review_Header_Content div{
    display: inline;
}

.Review_Header_Content p{
    margin:0;
    display: inline;
}

.Review_Text_Title{
    font-weight: bold;
}
.Review_Header_First_Line{
    position: relative;
    bottom:2em;
}

.Review_Header_Second_Line{
    position: relative;
    right:4.6em;
    bottom:0.5em;
}



#Avaiabilities{
    min-width: 0;
    min-height:0;
    margin-top: 1em;
    margin-left: 6rem;
    grid-area:Avaiability;
    border-bottom-style: solid; 
    border-bottom-width: 3px;
    border-bottom-color: var(--main_color);

}

#Avaiabilities_Calendars form{
    display: inline;
}

#Avaiabilities_Calendars p{
    display: inline;
}

#Avaiabilities_Number_Guests select{
 margin-bottom: 1em;   
}

#Similar_Offers_Container{
    min-width: 0;
    min-height:0;
    grid-area:Similar;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-left: 6rem;
    margin-right: 2rem;
}
#Similar_Offers_Container img{
    width: 100%;
    height: auto;
}
    
#Similar_Offers_Left{

    flex-basis: 20%;
}
#Similar_Offers_Center{
    margin-top: 2em;

    flex-basis: 40%;
}
#Similar_Offers_Right{

    flex-basis: 20%;
}



.carousel {
    grid-area: slideshow;
    margin-left:20%;
    margin-right: 20%;
}

ul.slides {
    display: block;
    position: relative;
    height: 600px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

ul.slides input {
    display: none; 
}


.slide-container { 
    display: block; 
}

.slide-image {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    transition: all .7s ease-in-out;
}   

.slide-image img {
    width: auto;
    min-width: 100%;
    height: 100%;
}

.carousel-controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    font-size: 100px;
    line-height: 600px;
    color: #fff;
}

.carousel-controls label {
    display: none;
    position: absolute;
    padding: 0 20px;
    opacity: 0;
    transition: opacity .2s;
    cursor: pointer;
}

.slide-image:hover + .carousel-controls label{
    opacity: 0.5;
}

.carousel-controls label:hover {
    opacity: 1;
}

.carousel-controls .prev-slide {
    width: 49%;
    text-align: left;
    left: 0;
}

.carousel-controls .next-slide {
    width: 49%;
    text-align: right;
    right: 0;
}

.carousel-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    z-index: 999;
    text-align: center;
}

.carousel-dots .carousel-dot {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.5;
    margin: 10px;
}

input:checked + .slide-container .slide-image {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .carousel-controls label {
     display: block; 
}

input#img-1:checked ~ .carousel-dots label#img-dot-1,
input#img-2:checked ~ .carousel-dots label#img-dot-2,
input#img-3:checked ~ .carousel-dots label#img-dot-3,
input#img-4:checked ~ .carousel-dots label#img-dot-4,
input#img-5:checked ~ .carousel-dots label#img-dot-5,
input#img-6:checked ~ .carousel-dots label#img-dot-6 {
	opacity: 1;
}


input:checked + .slide-container .nav label { display: block; }




